@import url(./assets/styles/fonts.sass)
@import url('https://fonts.googleapis.com/css?family=Raleway')

$mk-black: rgb(98,98,98)
$mk-charcoal: rgb(53,53,53)
$new-chocolate: #a5623c

$mk-orange: rgb(165,98,60)
$mk-orange-2: rgb(179,151,131)
$mk-orange-3: rgb(169,101,57)
$mk-orange-4: rgb(164,141,95)

$mk-gray: rgb(200,200,200)
$mk-dark-gray: rgb(94,94,94)

$bounce: 100ms all cubic-bezier(.75,-0.5,0,1.75)
$bounce-2: 300ms all cubic-bezier(.75,-0.5,0,1.75)
$bounce-3: 500ms all cubic-bezier(.42,1,.32,1)
$bounce-4: 600ms all cubic-bezier(.42,-0.5,0,1.75)

$tilt: rotate(5deg) scale(1.2)
$tilt-2: rotate(-5deg) scale(1.2)

$sm-shadow: drop-shadow(1px 1px 3px $mk-gray)
$m-shadow: drop-shadow(4px 4px 4px $mk-gray)
$l-shadow: drop-shadow(4px 4px 6px rgba(0,0,0,0.4))

$sepia: sepia(0)
$sepia: sepia(0.75)
$brightness: brightness(0)
//$brightness: brightness(2)
$contrast: contrast(100%)
//$contrast: contrast(90%)

$iphone5SE: 18em
$iphone678: 23em
$iphone678plus: 25em

//GLOBAL

body
    padding: 20px
    //background: ivory
    background: white
    font-family: "Open-Sans-Light", "Helvetica Neue", sans-serif

ul
    padding: 0px

li
    list-style-type: none

a
    font-family: "Raleway", sans-serif
    text-transform: uppercase
    text-decoration: none

.flex-centered
    display: flex
    justify-content: center
    align-items: center

.container
    max-width: 100%
    margin: 0 auto
    padding-bottom: 200px

//GLOBAL
.chocolate
    color: $new-chocolate

.loading
    display: flex
    justify-content: center
    align-content: center

.loading-img
    max-width: 90px
    max-height: 90px

//SPLASH PAGE

.splash
    //background: url('/assets/img/ArtFam.PNG') no-repeat center center
    //background-size: cover

    display: flex
    justify-content: space-around
    align-items: center


//.splash-container::after
//    content: ""
//    opacity: 0.5
//    top: 0
//    left: 0
//    bottom: 0
//    right: 0
//    position: absolute
//    z-index: -1

.splash-container
  //display: flex
  justify-content: center
  align-items: center
  z-index: 2
  position: absolute
  top: 0
  bottom: 0
  //height: 100%
  width: 100%
  background: rgb(20, 20, 20)

.splash-section
  display: grid

  grid: 21em 23em / 1fr 2fr

  margin-top: 110px

  .mk-logo
    grid-area: mk-logo
    padding-top: 5em

  .mk-run
    position: relative
    top: 5em
    grid-area: mk-run

  .mk-nav
    grid-area: mk-nav

  .mk-social
    grid-area: mk-social

  grid-template-areas: "mk-run mk-logo" "mk-nav mk-social"

  grid-gap: 1.5em

  justify-content: space-evenly
  align-content: space-evenly

  padding: 20px
  z-index: 3

  .box
    //background-color: aquamarine
    //color: coral
    font-size: 1.5em
    display: flex
    justify-content: center
    align-items: center

@media only screen and (max-width: 1000px)
  .mk-logo img
    width: 350px

@media only screen and (max-width: 768px)
  .mk-logo img
    width: 490px

  .splash-container
    z-index: 2
    position: absolute
    top: 0
    bottom: 0
    //height: 100%

  .splash-section
    display: grid

    grid: 7em / 1fr

    grid-gap: 2.5em

    margin-top: 0


    .mk-logo
      grid-area: mk-logo
      height: 12em
      padding-top: 0

    .mk-run
      position: static
      grid-area: mk-run

    .mk-nav
      grid-area: mk-nav
      height: 8em


    .mk-social
      grid-area: mk-social

    grid-template-areas: "mk-logo" "mk-run" "mk-nav" "mk-social"

    justify-content: space-evenly
    align-content: space-evenly

    padding: 20px
    z-index: 3


.mk-run img
    width: 225px
    height: 225px
    filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.4))
    //box-shadow: 5px 5px 6px black

.mk-logo img
    text-align: center
    max-width: 495px
    //filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.4))
    box-shadow: 5px 5px 6px black
    padding: 0
    transform: $tilt-2
    transition: $bounce-2

    &:hover, &:active
        transform: $tilt

li
    //display: flex
    //justify-content: center
    margin: 5px
    transition: $bounce-2


.left-arrow img
    width: 30px
    height: 30px
    opacity: 0.0

.splash-nav
    display: flex
    justify-content: space-between
    position: relative
    left: 1em
    flex-direction: column
    font-size: 30px
    width: 225px

    a:link, a:visited
        color: $mk-orange-4

    li:hover, li:active
        transform: $tilt-2
        a
            color: white
            font-weight: bold
            filter: drop-shadow(1px 1px 10px white)


        .left-arrow img
            opacity: 1


//section:nth-child(n)
//    width: 500px
//    height: 500px
//    display: flex
//    flex-direction: column
//    justify-content: center
//    align-items: center


.social-icons
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    max-width: 300px
    //margin: 100px 0 0 0
    position: relative
    bottom: 1px
    text-align: center

    li
        transition: $bounce-2

    li:hover, li:active
        transform: scale(2)

    img
        margin: 10px
        width: 75px
        height: 75px
        background-color: lightgrey
        border-radius: 50%

.mk-foot
    padding-top: 50px
    color: white
    .mr-orange
        color: $mk-orange



//NAVIGATION

.nav
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: $bounce-3

.nav-toggle
    ////position: absolute
    //border-radius: 50%
    //background-color: $mk-orange
    //height: 100px
    //width: 100px
    //color: white
    //font-size: 100px
    transition: $bounce-2

.nav-toggle-btn
    background-color: transparent
    outline: none
    border: none
    padding: 0
    margin: 0


.active
    font-weight: bold
    //border-bottom: solid 3px
    //padding-bottom: 10px
    transition: $bounce-2


.mstrkuku, .gallery, .store, .request, .blog
    display: none
    color: #C78134

.active-nav-title
    display: flex
    justify-content: center

    .mstrkuku, .gallery, .store, .request, .blog
        display: flex

.hidden
    position: relative
    transition: $bounce-3
    display: none

.shown
    position: relative
    display: flex
    transition: $bounce-2
    justify-content: center


.nav-container
    transition: $bounce-2
    height: 350px


    .toggleOn
            max-height: 100%
            overflow: auto
            transition: $bounce-2


    .toggleOff
            max-height: 0%
            overflow: hidden
            transition: $bounce-2

.nav-container.shorter-height
    transition: $bounce-2
    height: 215px


.nav li
    font-weight: lighter
    margin: 15px
    padding-bottom: 5px
    transition: $bounce-2


    a:link, a:visited, a:hover, a:active
        text-decoration: none
        color: $mk-orange

    &:hover
        transform: scale(1.5)
        font-weight: bolder


.header section.mk-icon
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding-left: 25px
    filter: $m-shadow

    img
        height: 99px
        width: 99px

        @media only screen and (max-width: 600px)
            display: none

.header section.mk-tag
    display: flex
    justify-content: flex-end
    align-items: flex-start
    padding-right: 25px
    filter: $m-shadow

    img
        transition: $bounce-2
        max-height: 60px
        &:hover
            transform: $tilt

        @media only screen and (max-width: 1000px)
            max-height: 40px
            display: none

        //
        //@media only screen and (max-width: 900px)
        //    max-height: 30px
        //
        //
        //@media only screen and (max-width: 600px)
        //    display: none

//HEADER

.header
    display: flex
    position: relative
    justify-content: space-between
    align-content: center
    margin-top: 25px
    //border: 2px solid

    section, li
        width: 33.3%
        align-items: center
        justify-content: center
        text-align: center



//MSTRKUKU - ABOUT

.about-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-family: 'Raleway', sans-serif
    color: $mk-black

    h1
        font-family: 'ROCKET-POP', 'Raleway-Bold', sans-serif
        font-size: 50px
        text-transform: uppercase
        letter-spacing: 30px
        text-align: center

.about-mstrkuku
    display: flex
    flex-wrap: wrap
    justify-content: center

    section:nth-child(n)
        margin: 0 100px 0 100px
        padding-top: 50px


    section
        padding-top: 0

    .left
        //padding: 20px 0px 100px 100px
        max-width: 45em

    .right
        max-width: 45em
        //padding: 20px 100px 100px 100px


    img
        position: relative
        max-height: 450px

.blurb
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    flex-direction: column

    font-family: 'Open-Sans', "Helvetica Neue", sans-serif
    color: $mk-black

    .big-body
        align-items: flex-start
        font-size: 1.4em
        font-weight: normal
        color: $mk-black
        padding-bottom: 20px
        //width: 780px

    .sub-body
        font-size: 2em
        font-weight: 200
        color: $mk-orange-3


.lets-work
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    div
        display: flex
        flex-direction: column
        height: 50%
        align-content: center

    div:nth-child(1)
        justify-content: flex-start

    div:nth-child(2)
        justify-content: flex-end
.btn
    outline: none
    border: none
    font-size: 16px
    border-radius: 12px
    text-align: center
    margin: 10px auto
    text-decoration: none
    filter: $sm-shadow
    transition: $bounce-2

.small-btn
    color: white
    background-color: $mk-dark-gray
    width: 7em
    padding: 7px 0

.small-secondary-btn
    color: $mk-dark-gray
    background-color: transparent
    width: 7em
    padding: 7px 0

.primary-btn
    color: white
    background-color: $mk-dark-gray
    width: 300px
    padding: 15px 0

.secondary-btn
    color: $mk-dark-gray
    background-color: transparent
    width: 300px
    padding: 15px 0


.primary-btn:hover:enabled, .small-btn:hover:enabled
    //background: linear-gradient($mk-dark-gray, grey)
    filter: $l-shadow

    font-weight: bolder
    text-decoration: none
    transform: scale(1.2)


.primary-btn:active, .small-btn:active
    transform: translateY(5px) scale(1)



//GALLERY
.ig-img-container li
    position: relative

    img, video
        filter: $contrast $sepia //blur(0.75px)

.ig-img-container li:hover, .ig-img-container li:active
    img, video
        filter: contrast(100%) sepia(0) //blur(0)

    .username
        visibility: hidden


.username
    display: flex
    font-weight: bold
    justify-content: center
    align-items: center
    position: absolute
    bottom: 0
    opacity: 0.9
    text-align: center
    width: 100%
    height: 100%
    font-size: 20px
    color: white
    filter: $l-shadow

.portfolio-sources
    display: flex
    justify-content: space-around
    font-family: 'Raleway', sans-serif


.portfolio-sources li
    font-size: 10pt
    font-weight: 200
    text-transform: uppercase
    letter-spacing: 3pt
    color: $mk-black
    margin: 10px
    padding-bottom: 5px
    cursor: pointer
    transition: $bounce-2
    &:hover
        transform: rotate(5deg) scale(1.2)

.media-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    flex-direction: row
    font-family: "Open-Sans", "Helvetica Neue", sans-serif

    //border: 2px solid $mk-black
    margin: 10px 155px 50px 155px

.ig-photo-info
    padding: 20px

.media-item
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    transition: 100ms all cubic-bezier(.75,-0.5,0,1.75)

    button
        border: none
        outline: none
        background-color: transparent


    &:hover:nth-child(odd), &:active:nth-child(odd)
        transform: scale(2) rotate(-7deg) translateX(39px)
        z-index: 999
        filter: $l-shadow sepia(0)

    &:hover:nth-child(even), &:active:nth-child(even)
        transform: scale(2) rotate(-7deg) translateX(-39px)
        z-index: 999
        filter: $l-shadow sepia(0)


    //border: 2px solid grey
    border-radius: 5px

    padding: 10px
    //background-color: white

    min-width: 225px
    min-height: 225px

    max-width: 315px
    max-height: 315px


    img
        width: 250px
        max-width: 100vw
        border-radius: 5px

    video
        max-width: 250px
        border-radius: 5px

.ig-media-info
    min-width: 225px
    max-width: 315px

    .ig-caption
        font-size: 7pt
        font-weight: lighter
        font-color: $mk-black
        text-transform: none
        justify-content: center

    .ig-likes
        color: crimson

//BLOG
.blog-container
    display: flex
    justify-content: center
    align-items: center
    transition: $bounce-2

    div:nth-child(n)
        transition: $bounce-2

        span:nth-child(n):hover
            transition: $bounce-2
            transform: scale(1.1)
            z-index: 4

    .blog-options
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        flex-wrap: wrap


        .blog-item
            display: flex
            justify-content: center
            align-items: center
            position: relative
            transition: $bounce-2
            filter: $sm-shadow


        .blog-item:hover
            transform: scale(1.1)
            width: +109%
            //padding-right: +105px
            filter: $l-shadow
            z-index: 4


            .banner.behind
                position: fixed
                transform: scaleX(1.2)
                z-index: +2



        .blog-item-container
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            .banner
                position: absolute
                width: 102%
                text-transform: uppercase
                font-style: italic
                bottom: 10px
                padding: 30px 0 30px 0
                margin: 0
                background-color: $mk-charcoal
                z-index: 5

            .banner.front
                background-color: transparent
                z-index: 8
            .banner.behind
                z-index: 4

        .date
            color: white
            font-size: 30px
            font-family: 'Source Sans Pro', sans-serif
            text-transform: uppercase


        img
            position: relative
            max-width: 300px
            z-index: 6


        h2
            position: relative
            color: rgb(250,250,250)
            z-index: 7
            font-size: 4.5em
            text-align: center
            letter-spacing: -3px
            padding: 0px
            margin: 0px
            width: 102%
            font-weight: 900


        .blog-item:nth-child(odd)
            background-color: crimson
            width: 4.25in
            height: 5.5in
            margin: 10px

        .blog-item:nth-child(even)
            background-color: mediumspringgreen
            width: 4.25in
            height: 5.5in
            margin: 10px

//REQUEST

.question-container
    display: flex
    flex-direction: column

.request-container
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

    h2
        font-family: Raleway, sans-serif
        font-weight: 200
        text-transform: uppercase
        color: $mk-dark-gray
        margin-bottom: 10px
        
    .requester-form-container
        display: flex

    //section
    //    display: flex
    //    flex-direction: column
    //    justify-content: center
    //    align-items: center
    //    transition: $bounce-2

        &:nth-child(n):hover
            transition: $bounce-2
            transform: scale(1.1)
            filter: $l-shadow



        .big-btn
            display: flex
            justify-content: center
            align-items: center
            border: 13px solid rgba($mk-gray, 0.1)
            filter: $sm-shadow
            background-color: white
            border-radius: 13px
            height: 350px
            width: 350px

            img
                height: 150px
                width: 150px

        .big-btn-label
            //position: absolute
            padding: 20px 0 20px 0
            font-size: 24px
            text-align: center
            font-family: 'Raleway', 'Open-Sans', sans-serif
            text-transform: uppercase
            color: $mk-black
            width: 50%

    .requester-form
        display: flex
        justify-content: space-evenly
        align-items: center
        //position: absolute
        //flex-direction: row
        //left: 29%
        flex-direction: unset
        padding-bottom: 130px
    //
    //.requester-form div:focus,
    //.requester-form div:hover
    //    transform: scale(1.2)
    //    z-index: 1000

    .requester-form div
        max-height: 25em
        min-height: 11em
        width: 25em
        background-color: #F6F6F6
        padding: 40px
        margin-top: 20px
        text-align: center
        border-radius: 10px
        filter: drop-shadow(4px 10px 10px lightgray)
        transition: $bounce-2


    .requester-textbox
        outline: none
        border: none
        border-radius: 10px
        margin: 10px 0 10px 0
        padding: 5px 10px 10px
        height: 90px
        width: 90%
        font-family: Raleway, sans-serif
        font-size: 1.3em
        line-height: 1.5
        resize: none

    .requester-textbox:focus
        border: 4px solid $new-chocolate
        transform: opacity($new-chocolate)
        transition: all 300ms cubic-bezier(.75,-0.5,0,1.75)


    //.requester-confirm-btn
        //pointer-events: none

    .hidden-til-further
        //animation: out forwards
        //transition: all 300ms cubic-bezier(.75,-0.5,0,1.75)
        animation: out 600ms cubic-bezier(.75,-0.5,0,1.75) forwards

        //display: none
        //opacity: 0
        visibility: hidden

    .show-dis
        //animation: in forwards
        //transition: all 300ms cubic-bezier(.75,-0.5,0,1.75)
        animation: in 600ms cubic-bezier(.75,-0.5,0,1.75) forwards
        opacity: 1
        z-index: 5000
        //display: flex
        //flex-direction: column
        //visibility: visible


    #form-question-1
        //display: flex
        //flex-direction: column
        //visibility: visible

    [id*="form-question-"]
        position: absolute
        //top: 300px
        //right: 50%
        //left: 50%

        //border: 5px solid coral
        //visibility: hidden
        //display: none
        //opacity: 0.5

    .animate-out
        animation: out 600ms cubic-bezier(.75,-0.5,0,1.75) forwards
        //display: none


    .animate-in
        animation: in 600ms cubic-bezier(.75,-0.5,0,1.75) forwards
        //display: block

    .animate-up
        animation: up 300ms ease-in-out forwards


    @keyframes out
        0%
            transform: translateX(0px)

        100%
            transform: translateX(-800px)
            display: none


    @keyframes in
        0%
            transform: translateX(800px)

        100%
            transform: translateX(0px)
            display: flex

    .hidden
        display: none

    .shown
        display: flex
        z-index: 5000

    .error
        display: flex
        justify-content: center
        align-items: center
        transition: 300ms all cubic-bezier(.75,-0.5,0,1.75)
        color: darkred
        height: 0
        //z-index: -20

    .changeHeight
        height: 40px


//STORE

//FOOTER

footer
    display: flex
    justify-content: center
    width: 100%
    position: fixed
    bottom: 1px
    left: 0
    background-color: rgba(255, 255, 255, 0.85)

footer
    .social-icons
        display: flex
        flex-direction: row
        justify-content: center
        flex-wrap: wrap
        max-width: 150px
        position: relative
        bottom: 1px

footer
    .social-icons img
        margin: 10px
        width: 40px
        height: 40px
        background-color: lightgrey
        border-radius: 50%

    .foot-note
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        color: $mk-black

        b
            font-size: larger
            span
                color: $mk-orange

//COMING SOON

.coming-soon
    display: flex
    justify-content: center
    align-items: center

    .coming-soon-video
        width: 50%

    a.credits:visited
            color: black



//LOGIN
    //.login-container
    //    display: flex
    //    justify-content: center
    //
    //.login-form-container
    //    display: flex
    //    flex-direction: column
    //    justify-content: center
    //    align-items: center
    //    border: 3px solid $mk-gray
    //    border-radius: 18px
    //    height: 500px
    //    width: 500px
    //
    //.input
    //    border-radius: 11px
    //
    //.registrar-options
    //    display: flex
    //    //justify-content: space-around
    //    align-items: center
    //    font-family: 'Raleway'
    //
    //
    //.registrar-options li
    //    font-size: 20pt
    //    font-weight: 200
    //    text-transform: uppercase
    //    letter-spacing: 3pt
    //    //color: $mk-black
    //    color: #965445
    //    margin: 10px
    //    padding-bottom: 5px
    //    cursor: pointer
    //    transition: $bounce-2
    //    &:hover
    //        transform: rotate(5deg) scale(1.2)